<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="<%= root_path %>">UNYT APP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <% if current_user.instructor? %>
          <li class="nav-item <%= active_link(home_page_path) %>">
            <%= link_to "Home", home_page_path, class: "nav-link" %>
          </li>

          <li class="nav-item <%= active_link(courses_path) %>">
            <%= link_to "Courses", courses_path, class: "nav-link" %>
          </li>

          <li class="nav-item <%= active_link(assessment_items_path) %>">
            <%= link_to "Assessment Items", assessment_items_path, class: "nav-link" %>
          </li>

          <li class="nav-item <%= active_link(students_path) %>">
            <%= link_to "Students", students_path, class: "nav-link" %>
          </li>

          <li class="nav-item <%= active_link(grades_path) %>">
            <%= link_to "Grades", grades_path, class: "nav-link" %>
          </li>
        <% else current_user.student? %>
          <li class="nav-item <%= active_link(student_page_path) %>">
            <%= link_to "Home", student_page_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= active_link(student_grades_path) %>">
            <%= link_to "Grades", student_grades_path, class: "nav-link" %>
          </li>
        <% end %>
      <% else %>
        <li class="nav-item <%= active_link(root_path) %>">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
    <ul class="navbar-nav justify-content-end">
      <% unless current_user %>
        <li class="nav-link">
          Not logged in.
        </li>
      <% end %>
      <%= login_helper %>
    </ul>
  </div>
</nav>
