<%= render_flash %>

<h1>Students</h1>

<%= link_to 'New Student', new_student_path, class: "btn btn-outline-primary float-right mb-3" %>

<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Surname</th>
    <th scope="col">Email</th>
    <th scope="col"></th>
  </tr>
  </thead>

  <tbody>
  <% @students.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.surname %></td>
      <td><%= student.email %></td>
      <td>
        <%= link_to 'Show', student_path(student), class: "btn btn-outline-primary btn-sm" %>
        <%= link_to 'Edit', edit_student_path(student), class: "btn btn-outline-primary btn-sm" %>
        <%= link_to 'Destroy', student_path(student), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %>
        <% if params[:course] %>
          <%= link_to 'Remove Student From Course', remove_student_course_path(student, course: params[:course]), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
